.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1rem;
    background-color: transparent;
}

.container-table {
    border-radius: .5rem;
    border: 1px solid #2196f3;
}

mat-paginator {
    background-color: transparent;
    border-radius: .5rem;
}

mat-form-field {
    width: 100%;
}

mat-divider {
    margin-bottom: 1rem;
}

.btn-edit {
    margin-right: .5rem;
}

mat-radio-group {
    display: flex;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
}

mat-radio-button {
    margin-right: 1rem;
}