<div class="container">

    <h1>Lista de Chamados</h1>
    <mat-divider></mat-divider>
  
    <button routerLink="create" mat-raised-button color="primary">Novo Chamado</button>

    <mat-form-field appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Nome, CPF ou email" #input>
    </mat-form-field>

    <mat-radio-group color="primary">
        <mat-radio-button (click)="retornarDefault()" color="warn">Todos</mat-radio-button>
        |
        <mat-radio-button class="margin-primeiro" (click)="ordenarPorStatus(0)" value="0">Aberto</mat-radio-button>
        <mat-radio-button (click)="ordenarPorStatus(1)" value="1">Andamento</mat-radio-button>
        <mat-radio-button (click)="ordenarPorStatus(2)" value="2">Encerrado</mat-radio-button>
    </mat-radio-group>

    <div class="mat-elevation-z8 container-table">
      <table mat-table matSort [dataSource]="dataSource">
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> #. </th>
          <td mat-cell *matCellDef="let chamado"> {{chamado.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
          <td mat-cell *matCellDef="let chamado"> {{chamado.titulo}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente #. </th>
          <td mat-cell *matCellDef="let chamado"> {{chamado.nomeCliente}} </td>
        </ng-container>
    
        <ng-container matColumnDef="tecnico">
            <th mat-header-cell *matHeaderCellDef> Técnico #. </th>
            <td mat-cell *matCellDef="let chamado"> {{chamado.nomeTecnico}} </td>
        </ng-container>
        
        <ng-container matColumnDef="dataAbertura">
          <th mat-header-cell *matHeaderCellDef> Data de Abertura </th>
          <td mat-cell *matCellDef="let chamado"> {{chamado.dataAbertura}} </td>
        </ng-container>
  
        <ng-container matColumnDef="prioridade">
          <th mat-header-cell *matHeaderCellDef> Prioridade </th>
          <td mat-cell *matCellDef="let chamado"> {{retornaPrioridade(chamado.prioridade)}} </td>
        </ng-container>
  
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let chamado"> {{retornaStatus(chamado.status)}} </td>
          </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef > Ações </th>
          <td mat-cell *matCellDef="let chamado">
            <a mat-mini-fab color="primary" routerLink="update/{{chamado.id}}" class="btn-edit">
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-mini-fab color="primary" class="btn-edit" (click)="abrirDialog(chamado)">
                <mat-icon>visibility</mat-icon>
            </button>  
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Não encontramos nada para "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>