<div class="container">
    <form class="form mat-elevation-z8">

        <h1>HelpDesk</h1>
        <mat-divider></mat-divider>

        <h3>Faça o login para continuar</h3>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Email</mat-label>
            <input [formControl]="email" [(ngModel)]="creds.email" name="email" matInput placeholder="Ex. email@mail.com" required>
            <mat-icon color="primary" matSuffix>email</mat-icon>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="input">
            <mat-label>Senha</mat-label>
            <input [formControl]="senha" [(ngModel)]="creds.senha" name="senha" type="password" matInput placeholder="Digite a senha" required>
            <mat-icon color="primary" matSuffix>key</mat-icon>
        </mat-form-field>

        <button (click)="logar()" [disabled]="!validaCampos()" mat-raised-button color="primary">Login</button>
    </form>
</div>
