<div class="container">
    <form class="form mat-elevation-z8">

        <h1>HelpDesk</h1>
        <mat-divider></mat-divider>

        <h3>Faça o login para continuar</h3>

        <mat-form-field class="input" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input [formControl]="email" [(ngModel)]="creds.email" name="email" matInput placeholder="Ex. email@mail.com" required>
        </mat-form-field>
    
        <mat-form-field class="input" appearance="fill">
            <mat-label>Senha</mat-label>
            <input [formControl]="senha" [(ngModel)]="creds.senha" name="senha" matInput type="password" placeholder="Digite sua senha" required>
        </mat-form-field>

        <button [disabled]="!validaCampos()" mat-raised-button color="primary">Login</button>
    </form>
</div>
