.container {
    background-color: #303030;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 30rem;
    margin: auto;
    padding: 1rem;
    background-color: #424242;
}

h1 { 
    width: 100%;
    text-align: left;
    color: #3F51B5;
    font-weight: 500;
    font-size: xx-large;
}

h3 {
    margin-top: 1rem;
    color: darkgrey;
}

.input{
    width: 100%;
    color: white;
}
