.container {
    height: 100%;
}

.sidenav {
    width: 13rem;
    color: white;
    border-right: 1px solid #2196f3;
    background-color: #303030;
}

.sidenav a {
    color: white;
}

.sidenav i {
    margin-right: .7rem;
    color: #2196f3;
}

.menu-btn {
    margin: 1rem 0 0 1rem;
    color: white;
    background-color: #2196f3;
}